.login_form{
    width: 40vw;
    height: 30vh;
    position: absolute;
    left: 30vw;
    top: 20vh;
    background-color: rgba(0,0,0,0.3);
    border-radius: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    z-index: 3;

}


.loginPage{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
